@font-face
    font-family: 'SuisseIntl-Regular'
    src: url(../fonts/SuisseIntl/SuisseIntl-Regular.woff)
    font-weight: 400

@font-face
    font-family: 'DINPro-CondLight'
    src: url(../fonts/DINPro/DINPro-CondLight.woff)

@font-face
    font-family: 'CaesarDressingCyrillic'
    src: url(../fonts/CaesarDressingCyrillic.woff)
    font-weight: 400
